@import "~bootstrap/scss/bootstrap";

body {
  background-color: darkcyan;
}
.grid-container {
  @extend .m-3;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item {
  @extend .p-2;
  @extend .border;
  @extend .rounded;
  @extend .border-primary;
  background-color: white;
//  max-width: 400px;
}