@import "~bootstrap/scss/bootstrap";

.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item {
//  max-width: 400px;
}